* {
    margin: 0;
    padding: 0;
    word-wrap: break-word
}

header {
    margin: auto;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #111;
}

section {
    width: 100%; 
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #111;
    color: white;
    height: 94vh;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
